body,
html {
  height: 100%;
  margin: 0;
}

/* カレンダー */
.calendar-container {
  display: flex;
  justify-content: center;
}

.calendar-contents {
  width: 240px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #d9d9d9;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.calendar-date {
  color: black;
  font-size: 25px;
  margin-left: 16px;
}

/* メインコンテンツ */
body {
  font-family: "Kiwi Maru", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* 目標 */
.mission {
  width: 100%;
  min-height: 50px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-contents {
  text-align: center;
  flex: 1;
  padding: 16px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
}

/* 生成画像表示部分 */
.main-contents {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.monster-container {
  text-align: center;
  width: 500px;
  height: 500px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* top: 201px; */
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

/* タスク一覧 */
.main-tasks-monster-container {
  position: relative  ;
}
.task-list-container {
  width: 100%; /* タスクリスト全体の幅を100%に設定 */
  display: flex;
  flex-direction: row; /* タスクリストを横並びに配置 */
  justify-content: space-between; /* 左右に均等に配置 */
  margin: 0 auto; /* 左右の余白を自動で均等に設定 */
  max-width: 1200px; /* 最大幅を設定（必要に応じて調整） */
}

.left-task-contents,
.right-task-contents {
  flex: 1; /* 左右のタスクリストを均等に伸縮させる */
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 20px; /* 左右の余白を調整 */
}

.task-checkbox {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.task-text {
  flex-grow: 1;
  font-size: 18px;
}

.transparent-box {
  width: 500px; /* 透明な箱の幅を設定 */
  height: 500px; /* 透明な箱の高さを設定 */
  background-color: transparent; /* 透明な背景 */
  margin: 0 auto; /* 水平中央配置 */
  margin-top: 24px; /* 上部マージンを設定 */
}

.exp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-top: 24px;
}


.exp-bar {
  width: 500px;
  height: 50px;
  margin-top: 4px;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.exp-bar-text {
  width: 100%;
  text-align: left;
  font-size: 20px;
}

/* フッター */
.footer {
  width: 100%;
  padding: 8px 0;
  background-color: #d9d9d9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-container {
  width: 60%;
  margin: auto;
}

.menu-list {
  width: 100%; /* メニューリストの幅を画面全体に */
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around; /* アイテム間に等間隔を設ける */
  align-items: center;
  margin: 0; /* デフォルトのマージンをリセット */
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0; /* 上下のパディングを設定 */
}

.menu-item img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}
